<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <p> Thanks for SignUp {{name}}</p>

</body>

  <style>
         body{
    background-color : Blue ;
    display: flex;              /* enable flexbox */
    justify-content: center;    /* center horizontally */
    align-items: center;
    height: 100vh;              /* full page height */
    margin: 0;
    }

    p{
    text-align : center;
    justify-content: center;
    color : Black;
    }

    </style>
</html>